.user{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 120px;
    background-color: #1F2833;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
}

.userPhoto{
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 85%;
}
.userPhoto img{
    border-radius: 50%;
}


.userDescription .userName{
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.userDescription .userText{
    font-size: 14px;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.buttonsArea{
    display: grid;
    padding: 10px 7px 10px 0px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
.buttonsArea button {
    position: relative;
    overflow: hidden;
    border: 2px solid #831ed9;
    border-radius: 8px;
    background-color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: .2s ease-in-out;
}
.buttonsArea button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.buttonsArea button:hover {
    background: #831ed9;
    color: #fff;
    cursor: pointer;
}
.buttonsArea button:hover:before {
    left: 180px;
    transition: .5s ease-in-out;
}
.buttonsArea button:active {
    font-size: 9px;
    letter-spacing: 1.7px;
    border: 2px solid white;
}


.buttonGoToArea button{
    height: 100%;
    width: 100%;
}

.noStatus{
    color: gray;
    font-style: italic;
}
