.profileDescription{
    grid-column: 2;
    /*background: linear-gradient(120deg, #09d2ec, #37dc73);*/
    background-color: #1F2833;
    height: 280px;
    border-radius: 8px;
    text-align: center;
}
.profileDescription .userName{
    font-size: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.profileDescription .userText{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}