.profileDescription{
    grid-column: 2;
    /*background: linear-gradient(120deg, #09d2ec, #37dc73);*/
    background-color: #1F2833;
    height: 280px;
    border-radius: 8px;
    text-align: center;
}