
.paginator {
    margin: 10px;
}
.paginator span {
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
}
.paginator span:hover {
    cursor: pointer;
    color: #831ed9;
}
.paginator button {
    background-color: #0B0C10;
    border: none;
    margin: 0 15px;
    color: white;
    position: relative;
    top: 3px;
    font-size: 30px;
    padding: 0;
}
.paginator button:hover {
    cursor: pointer;
}
.paginator button:active {
    color: #831ed9;
}


.pageNumber {
    display: inline-block;
    padding: 2px;
    /*border: 1px #1F2833;*/
    border: 1px white;
    border-style: none solid none solid;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 50px;
}

.pageNumber.selectedPage {
    background: linear-gradient(120deg, #3309ec, #d737dc);
    border: none;
}